<div id="ambienteLeilao">
		<script src="templates/lib/js/jquery-1.11.1.min.js"></script>
		<script src="templates/lib/js/ambiente-leilao-lib.js"></script>
		<script src="templates/lib/js/app.js"></script>
		
		<!--informações essenciais -->
		<input type='hidden' id='userName'  value='${userName}' />
		<input type='hidden' id='idEmissor' value='${idEmissor}' />
		<input type='hidden' id='idLeilao'  value='${idLeilao}' />

		<div id="container-informacoes">
			<!--cabeçalho-->
			<div id="informacoes-header" >
			
				<div id="qtd-online">
					<i class="fa fa-eye fa-2x fixIcon"><span class="fixFont" id="online">0</span></i>	
				</div>
				
				<div id="etiqueta-box">
					<i class="fa fa-gavel fa-2x fixIcon"><span class="fixFont" id="etiqueta" ></span></i>	
				</div>
				
				<div id="tempo-restante">
					<i class="fa fa-clock-o fa-2x fixIcon"><span class="fixFont" id="tempo">00h:00min</span></i>	
				</div>
				
			</div>
			
			<!--centro-->
			<div id="produto-center">
				<div id="alertas">
					<span class="fixFontAlerta" id="alertas-temp"></span>
				</div>
			</div>
			
			<!--barra inferior-->
			<div id="lance-footer">
				<div id="lance-footer-left">
					<i class="fa fa-usd" id="botao-aumentar"></i>
					<span id="valor-lance">Lance:R$000.00</span>
					<i class="fa fa-gavel" id="botao-lance"></i>
				</div>
				
				<div id="lance-footer-right">
					<i class="fa fa-user fa-2x fixIcon"><span class="fixFont " id="leiloeiro" >Leiloeiro:</span></i>
					<i class="fa fa-trophy fa-2x fixIcon"><span class="fixFont" id="maiorLance">Maior Lance:</span></i>
					<i class="fa fa-line-chart fa-2x fixIcon"><span class="fixFont" id="maiorLanceMontante">R$000.00</span></i>
				</div>
				
			</div>
			
		</div>
		
		<div id="container-chat">
			<div id="top-chat">
				<ul id="ul-chat">
					<!--outra mensagem-->
					<li>
						<span class="fixFontChat nicknameLeiloeiro" >Marcos <i class="fa fa-user fa-1x "> </i> </span>
						<small>10:40 PM :</small>
						<span class="fixFontChat" >Sábado de sol, eu aluguei um caminhão, para levar galera para comer feijão. Chegando lá, mas que vergonha, só tinha maconha. Os maconheiros estavam doidões, querendo os meus feijões.</span>
					</li>
					<!--outra mensagem-->
					<li>
						<span class="fixFontChat nicknameMaiorLance" >Sacura <i class="fa fa-trophy fa-1x "></i>   </span>
						<small>10:40 PM :</small>
						<span class="fixFontChat" >Essa merda já é minha. Leiloeiro, arremate isso logo, seu puto!</span>
					</li>
					<!--outra mensagem-->
					<li>
						<span class="fixFontChat nickname" >Jatobá  </span>
						<small>10:40 PM :</small>
						<span class="fixFontChat" >Sábado de sol, eu aluguei um caminhão, para levar galera para comer feijão. Chegando lá, mas que vergonha, </span>
					</li>
					<!--outra mensagem-->
					<li>
						<span class="fixFontChat online" >Pechincha  </span>
						<small>10:40 PM :</small>
						<span class="fixFontChat" >Sábado de sol, eu aluguei um caminhão, para levar galera para comer feijão. Chegando lá, mas que vergonha, </span>
					</li>
					<!--outra mensagem-->
					<li>
						<span class="fixFontChat offline" >Pechincha  </span>
						<small>10:40 PM :</small>
						<span class="fixFontChat" >Sábado de sol, eu aluguei um caminhão, para levar galera para comer feijão. Chegando lá, mas que vergonha, </span>
					</li>
				</ul>
			</div>
			
			<div id="bottom-chat">
				<textarea id="msg" 	maxlength="250"></textarea>
			</div>
		</div>
		
	</div>