<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
      <meta name="viewport" content="width-device-width,initial-scale=1.0"><!--tag para se adaptar a qualquer dispositivo-->
      <meta charset="utf-8">
      <!--bootstrap-->
      <link rel="stylesheet" href="templates/lib/css/bootstrap.min.css" media="screen">
      <link rel="stylesheet" href="templates/lib/css/css.css" media="screen">
      <link href="templates/lib/css/bootstrap-responsive.min.css" rel="stylesheet">
      <link rel="stylesheet" href="templates/lib/css/style2.css" media="screen">
      <!--[if it IE 9]>
         <script src="templates/lib/js/html5shiv.js"></script>
      <![endif]-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Pechincha</title>
		
		<link rel="stylesheet" type="text/css" href="templates/lib/css/style.css">
		<link rel="stylesheet" type="text/css" href="templates/lib/css/ambienteLeilaoStyle.css">
		<link rel="stylesheet" type="text/css" href="templates/lib/font-awesome-4.2.0/css/font-awesome.min.css">
		
	</head>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="templates/lib/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="templates/lib/js/avisos.js"></script>
<body>
  
<div id="container">

	<div id="footer" style="position:absolute;text-align:left;left:2px;top:1300px;width:968px;height:155px;z-index:11;" title="">
	
	<div id="wb_Text10" style="position:absolute;left:59px;top:14px;width:86px;height:16px;z-index:4;text-align:left;">
	<span style="color:#A9A9A9;font-family:Arial;font-size:13px;"><strong>Contate-nos:</strong></span></div>
	<div id="wb_Text9" style="position:absolute;left:103px;top:40px;width:92px;height:16px;z-index:5;text-align:left;">
	<span style="color:#A9A9A9;font-family:Arial;font-size:13px;">Facebook</span></div>
	<div id="wb_Text8" style="position:absolute;left:103px;top:65px;width:92px;height:16px;z-index:6;text-align:left;">
	<span style="color:#A9A9A9;font-family:Arial;font-size:13px;">Twitter</span></div>
	<div id="wb_Text7" style="position:absolute;left:60px;top:92px;width:92px;height:16px;z-index:7;text-align:left;">
	<span style="color:#A9A9A9;font-family:Arial;font-size:13px;"><strong>Sobre</strong></span></div>
	<div id="wb_Text6" style="position:absolute;left:396px;top:122px;width:145px;height:16px;z-index:8;text-align:left;">
	<span style="color:#A9A9A9;font-family:Arial;font-size:13px;"> © 2014 Pechincha.com</span></div>
	<div id="wb_Image2" style="position:absolute;left:67px;top:33px;width:27px;height:27px;z-index:9;">
	<img src="templates/lib/images/Cracked-Facebook-Logo.png" id="Image2" alt="" style="width:27px;height:27px;"></div>
	<div id="wb_Image3" style="position:absolute;left:73px;top:65px;width:22px;height:17px;z-index:10;">
	<img src="templates/lib/images/2000px-Twitter_2012_logo.svg.png" id="Image3" alt="" style="width:22px;height:17px;">
	
	</div>
	
</div>

<!-- Header-->



<div id="conteudo" style="position:absolute;text-align:left;left:3px;top:71px;width:1000px;height:481px;z-index:12;" title="">
	 	${conteudo}<!--Aqui vai o conteudo das outras telas-->
</div>


<!-- Footer-->

</div>
<div id="cabecalho" style="position:absolute;text-align:center;left:0px;top:0px;width:100%;height:53px;z-index:13;position:fixed;" title="">
<div id="cabecalho_Container" style="width:970px;position:relative;margin-left:auto;margin-right:auto;text-align:left;">
<input type="submit" id="Button2" name="" value="Buscar" style="position:absolute;left:866px;top:14px;width:96px;height:25px;z-index:0;">
<input type="text" id="Editbox1" style="position:absolute;left:678px;top:13px;width:179px;height:23px;line-height:23px;z-index:1;" name="Editbox1" value="" placeholder="Procurar leil&#245;es">
<div id="wb_CssMenu1" style="position:absolute;left:136px;top:14px;width:575px;height:36px;text-align:center;z-index:2;">
<ul>
<li class="firstmain"><a href="#" target="_self">Home</a>
</li>
<li><a href="#" target="_self">Gerenciar&nbsp;Leil&#227;o</a>
</li>
<li><a href="#" target="_self">Meus&nbsp;dados</a>
</li>
<li><a href="#" target="_self">Meus&nbsp;Produtos</a>
</li>
<li><a href="#" target="_self">Sair</a>
</li>
</ul>
<br>
</div>
<div id="wb_Image1" style="position:absolute;left:12px;top:8px;width:188px;height:40px;z-index:3;">
<img src="templates/lib/images/Untitled-23.png" id="Image1" alt="" style="width:188px;height:40px;"></div>
</div>
</div>
</body>
</html>