.window{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}

#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
 
.fechar{display:block; text-align:right;}
#Layer1
{
   background-color: transparent;
   background-image: url(images/index_bkgrnd.png);
   background-repeat: repeat;
   background-position: center top;
}
#Button1
{
   color: #ffffff;
   font-family: Arial;
   font-size: 15px;
   box-shadow: 3px 3px 3px #000000;
}
#Button2
{
   color: #ffffff;
   font-family: Arial;
   font-size: 20px;
   box-shadow: 3px 3px 3px #000000;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Layer2
{
   -moz-box-shadow: 3px 3px 5px #000000;
   -webkit-box-shadow: 3px 3px 5px #000000;
   box-shadow: 3px 3px 5px #000000;
}
#wb_mailerro 
{
   background-color: #FF0000;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_mailerro div
{
   text-align: left;
}
#wb_okmail 
{
   background-color: #7CFC00;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_okmail div
{
   text-align: left;
}
#wb_terminoLeilao 
{
   background-color: #00FF00;
   border: 1px #0000FF dotted;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
   padding: 0;
   text-align: left;
}
#wb_terminoLeilao div
{
   text-align: left;
}
.botaoEnviar{
   box-shadow: 3px 3px 3px #006dcc;
}
.img{
	position:absolute;
	left:232px;
	top:50px;	
}
.layer3{
	background-color: #ffffff;
    opacity: .8;
}
.txtconteudo{
	color:black;
}