a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Form1
{
   background-color: transparent;
   border: 0px #000000 solid;
   -moz-box-shadow: 3px 3px 3px #000000;
   -webkit-box-shadow: 3px 3px 3px #000000;
   box-shadow: 3px 3px 3px #000000;
}
#neblina{
	background-color: #ffffff;
    opacity: .4;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#descricao
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   resize: none;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#etiqueta
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   resize: none;
}
#tempolimite
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   resize: none;
}
#Button2
{
   color: #ffffff;
   font-family: Arial;
   font-size: 13px;
  box-shadow: 3px 3px 3px #006dcc;
}
#Button3
{
   color: #ffffff;
   font-family: Arial;
   font-size: 13px;
   box-shadow: 3px 3px 3px #006dcc;
}
#Button1
{
   color: #ffffff;
   font-family: Arial;
   font-size: 13px;
  box-shadow: 3px 3px 3px #000000;
}

.img {
    left: 232px;
    position: absolute;
    top: 50px;
}

#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
 
.fecharLeilaop0{display:block; text-align:right;}

.window{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}