                     <tr>
                     	<td>${etiqueta}</td>
                     	<td>${termino}</td>
                     	<td>${valor}</td>
                     	<td>
                     		<form class="form-search" action="q" method="post">
	                     		<input type="submit" value="Reenviar e-mail" /> 
	                     		<input type="hidden" name="idleilao" value="${idleilao}"/>
	                     		<input type="hidden" name="idleiloeiro" value="${idleiloeiro}"/>
	                     		<input type="hidden" name="useCase" value="gerenciarLeilao"/>
	                     		<input type="hidden" name="action" value="reenviarEmail"/>
	                     		<input type="hidden" name="redirect" value="false"/>
                     		</form> 
                     	</td>
                     </tr>