<div>
<link rel="stylesheet" href="templates/lib/css/css.css" media="screen">
<link rel="stylesheet" href="templates/lib/css/style.css" media="screen">
<link rel="stylesheet" href="templates/gerenciarLeilao/lib/historicoLeilao.css" media="screen">
<script src="templates/gerenciarLeilao/lib/historicoLeilao.js"></script>
<div id="Layer1" style="position:absolute;text-align:left;left:162px;top:25px;width:898px;height:540px;z-index:5;" title="">
<img src="templates/gerenciarLeilao/img/carrinho.png" class="img"></img>
<form class="form-search" id="etapa" action="q" method="post">
<input type="hidden" name="useCase" value="gerenciarLeilao"/>
<input type="hidden" name="action" value="criarLeilao"/>
<input type="hidden" name="etapa" value="leilaop0"/>
<input type="hidden" name="redirect" value="false"/>
<input type="hidden" name="idleiloeiro" value="${idleiloeiro}"/>
<a  id="Button1" name="Criar Leilão" class="btn btn-inverse" onclick="enviar('etapa')" style="position:absolute;left:7px;top:130px;width:115px;height:63px;z-index:1;"><i class="icon-plus icon-white"></i><h4 class="texto">Criar Leilão</h4></a>
<a  id="Button2" name="home"  class="btn btn-inverse" onclick="enviar('etapa')" style="position:absolute;left:7px;top:208px;width:115px;height:63px;z-index:2;"><i class="icon-home icon-white"></i><h4 class="texto">Home</h4></a>
</form>
<div id="wb_Text1" style="position:absolute;left:415px;top:50px;width:252px;height:23px;z-index:3;text-align:left;">
<h3 class="text-center" style="color:#000000;font-family:Arial;">Histórico de leilão</h3></div>
<div class="layer3" style="position:absolute;text-align:left;left:162px;top:132px;width:784px;height:323px;z-index:3;" title="" >
</div>
<div id="Layer2" style="position:absolute;text-align:left;left:162px;top:132px;width:784px;height:323px;z-index:4;overflow-y: scroll;" title="" >
                     <table class="table table-striped">
                     <tr>
                        <td class="tabela"><p class="lead text-center">Etiqueta</p></td>
                        <td class="tabela"><p class="lead text-center">Data de término</p></td>
                        <td class="valor"><p class="lead text-center">Valor</p></td>
                        <td class="buttom"></td>
 								<!-- $BeginBlock historico -->
                     <tr>
                     	<td><h5 class="txtconteudo text-center">${etiqueta}</h5></td>
                     	<td><h5 class="txtconteudo text-center">${termino}</h5></td>
                     	<td><h5 class="txtconteudo text-center">R$ ${valor}</h5></td>
                     	<td>
                     		<form class="form-search" id="historico" action="q" method="post">
	                     		<a class="btn btn-primary botaoEnviar" onclick="enviar('${idleilao}','${idleiloeiro}','gerenciarLeilao','processaEmail','false')"><i class="icon-envelope icon-white"></i> Reenviar e-mail</a> 
                     		</form> 
                     	</td>
                     </tr>
 								<!-- $EndBlock historico -->
                     </table>
</div>
${message}
</div>
</div>