<div>
<a href="#janela1" id="modal1" rel="modal"></a>
<div class="window" id="janela1">
		<a href="#" class="fechar close">&times;</a>
        <div class="alert alert-block">
        <h4>Oops!</h4>
    	<span id="mensagem"></span>
    	<span><br />Cheque o erro para continuar criando o seu leilão!</span>
    	</div>
</div>
<div id="mascara"></div>
<link rel="stylesheet" href="templates/gerenciarLeilao/css/leilaop1.css" media="screen">
<link rel="stylesheet" href="templates/lib/css/css.css" media="screen">
<link rel="stylesheet" href="templates/lib/css/style.css" media="screen">
<script src="templates/gerenciarLeilao/js/gerenciarLeilao.js"></script>
<div id="Layer1" style="position:absolute;text-align:left;left:162px;top:25px;width:898px;height:540px;z-index:5;" title="">
<a style="position:absolute;left:7px;top:131px;width:115px;height:63px;z-index:2;" onclick="postar('etapa')" class="btn btn-inverse" name="home" id="Button3"><i class="icon-home icon-white"></i><h4 class="texto">Home</h4></a>
<img src="templates/gerenciarLeilao/img/carrinho.png" class="img"></img>
<div id="wb_Text1" style="position:absolute;left:415px;top:50px;width:252px;height:23px;z-index:3;text-align:left;">
<h3 style="color:#000000;font-family:Arial;font-size:29px;">Criar um leilão</h3></div>
<div id="wb_Text3" style="position:absolute;left:298px;top:500px;width:219px;height:19px;z-index:3;text-align:left;">
<span class="txtconteudo" style="font-family:Arial;font-size:16px;"><strong>Valor personalizado do lote</strong></span></div>
<div id="total" style="position:absolute;left:298px;top:465px;width:419px;height:19px;z-index:3;text-align:left;">
<span class="txtconteudo" style="font-family:Arial;font-size:16px;"><strong>Valor total de produtos adicionados : R$ </strong></span>
<span id="valortotal" class="txtconteudo" >0.00</span></div>
<form class="form-search" action="q" method="post">
<input type="submit" id="Button1" name="cancelarLeilao" value="Cancelar" class="btn btn-primary" style="position:absolute;left:380px;top:550px;width:95px;height:37px;z-index:5;">
<input type="hidden" id="etapa" name="etapa" value="historico"/>
<input type="hidden" id="redirect" name="redirect" value="false"/>
<input type="hidden" id="userCase" name="useCase" value="gerenciarLeilao"/>
<input type="hidden" id="action" name="action" value="historicoLeilao"/>
<input type="hidden" id="idleiloeiro" name="idleiloeiro" value="${idleiloeiro}"/>
</form>
<form id="done" class="form-search" action="q" method="post">
<input type="number" id="valorBox" style="position:absolute;left:520px;top:493px;width:251px;height:24px;line-height:24px;z-index:4;" name="valorBox" value="0" min="0" max="10000" />
<input type="checkbox" id="checkval" value="true" name="checkval" onclick="valorLote()" style="position:absolute;left:273px;top:500px;z-index:2;" />
<input type="hidden" id="redirect" name="redirect" value="false"/>
<input type="hidden" id="etapaFinal" name="etapa" value="check"/>
<input type="hidden" id="valorPersonalizado" name="valorPersonalizado" value="false" />
<input type="hidden" id="useCase" name="useCase" value="gerenciarLeilao"/>
<input type="hidden" id="action" name="action" value="criarLeilao"/>
<input type="hidden" id="idleiloeiro" name="idleiloeiro" value="${idleiloeiro}"/>
<input type="hidden" id="nickname" name="nickname" value="${nickname}"/>
<input type="hidden" id="etiqueta" name="etiqueta" value="${etiqueta}"/>
<input type="hidden" id="descricao" name="descricao" value="${descricao}"/>
<input type="hidden" id="tempolimite" name="tempolimite" value="${tempolimite}"/>
<input type="button" id="Button2" name="Concluir" class="btn btn-primary" onclick="concluir()" value="Concluir" style="position:absolute;left:580px;top:550px;width:95px;height:37px;z-index:6;">
<div id="neblina" style="position:absolute;text-align:left;left:162px;top:132px;width:784px;height:480px;z-index:0;"></div>
<div id="Layer2" style="position:absolute;text-align:left;left:162px;top:132px;width:784px;height:330px;z-index:4; overflow-y: scroll;" title="">
<table class="table table-striped">
	<tr>
		<td class="tabela" style="text-align:center;"style="text-align:center;">Produto</td>
		<td class="tabela" style="text-align:center;">Unidades produto</td>
		<td class="tabela" style="text-align:center;">Unidades lote</td>
		<td class="tabela" style="text-align:center;">Preço unitário </td>
		<td class="tabela" style="text-align:center;">Preço x unidades</td>
		<td class="tabela" style="text-align:center;">Adicionado</td>
	</tr>
<!-- $BeginBlock produto -->
	<tr>
			<td class="tabela txtconteudo" style="text-align:center;">${produto}</td>
			<td class="tabela txtconteudo" style="text-align:center;">${quantidade}</td>
			<td class="tabela txtconteudo" style="text-align:center;"><input id="qtd${idproduto}" name="quantidadeLote" style="width:50px;" type="number" value="0" min="0" max="${quantidade}" onclick="somar('${idproduto}')"/></td>
			<td class="tabela txtconteudo" style="text-align:center;"><span style="width:50px;">${preco}</span></td>
			<td class="tabela txtconteudo" style="text-align:center;"><span style="width:50px;" id="valorTemp${idproduto}">0.00</span></td>
			<td style="text-align:center;"><input type="checkbox" id="checkpr${idproduto}" name="checkpr${idproduto}" onclick="adicionar('${idproduto}')" /></td>
			<input type="hidden" name="adicionado" id="adicionado${idproduto}" value="false"/>
			<input type="hidden" name="idproduto" id="idproduto" value="${idproduto}" />
			<input type="hidden" name="quantidade" id="quantidade" value="${quantidade}" />
			<input type="hidden" id="valor${idproduto}" name="precoLote" value="0.00"/>
			<input type="hidden" id="preco${idproduto}" name="precoProd" value="${preco}"/>
	</tr>
<!-- $EndBlock produto -->
</table>
</form>
</div>
</div>
</div>