<div>
<a href="#janela1" id="modal1" rel="modal"></a>
<div class="window" id="janela1">
		<a href="#" class="fecharLeilaop0 close">&times;</a>
        <div class="alert alert-block">
        <h4>Oops!</h4>
    	<span id="mensagem"></span>
    	<span><br />Cheque o erro para continuar criando o seu leilão!</span>
    	</div>
</div>
<div id="mascara"></div>
<script src="templates/gerenciarLeilao/js/gerenciarLeilao.js"></script>
<link rel="stylesheet" href="templates/lib/css/css.css" media="screen">
<link rel="stylesheet" href="templates/lib/css/style.css" media="screen">
<link rel="stylesheet" href="templates/gerenciarLeilao/css/leilaop0.css" media="screen">
<div id="Layer1" style="position:absolute;text-align:left;left:162px;top:25px;width:898px;height:540px;z-index:5;" title="">
	<img src="templates/gerenciarLeilao/img/carrinho.png" class="img"></img>
	<div id="wb_Text1" style="position:absolute;left:360px;top:50px;width:300px;height:23px;z-index:3;text-align:left;">
	<h3 class="text-center" style="color:#000000;font-family:Arial;">Descrição</h3></div>
	<div id="neblina" style="position:absolute;text-align:left;left:162px;top:132px;width:784px;height:450px;z-index:4;"></div>
	<div id="wb_Form1" style="position:absolute;text-align:left;left:162px;top:132px;width:784px;height:450px;z-index:4;">
	<form class="form-search" action="q" id="passo01" method="post">
	<div id="wb_Text2" style="position:absolute;left:23px;top:35px;width:260px;height:19px;z-index:0;text-align:left;">
	<span style="color:#000000;font-family:Arial;font-size:17px;"><strong>Entre com a etiqueta do leilão:</strong></span></div>
	<div id="wb_Text3" style="position:absolute;left:24px;top:83px;width:264px;height:19px;z-index:1;text-align:left;">
	<span style="color:#000000;font-family:Arial;font-size:17px;"><strong>Entre com a descrição do leilão:</strong></span></div>
	<div class="control-group info" id="2">
	<div class="controls">
	<textarea id="descricao" cols="110" rows="8" style="position:absolute;left:26px;top:121px;width:722px;height:151px;z-index:2;" name="descricao"></textarea>
	</div>
	</div>
	<div id="wb_Text4" style="position:absolute;left:24px;top:315px;width:500px;height:19px;z-index:3;text-align:left;">
	<span style="color:#000000;font-family:Arial;font-size:17px;"><strong>Entre com o tempo de duração no formato 24H: (hh:mm)</strong></span></div>
	<div class="control-group info" id="1">
	<div class="controls">
	<textarea id="etiqueta" cols="70" rows="0" style="position:absolute;left:293px;top:29px;width:454px;height:24px;z-index:4;" name="etiqueta"></textarea>
	</div>
	</div>
	<div class="control-group info" id="3">
	<div class="controls">
	<textarea id="tempolimite" cols="54" rows="0" style="position:absolute;left:490px;top:310px;width:259px;height:24px;z-index:5;" name="tempolimite"></textarea>
	</div>
	</div>
	<input type="hidden" id="etapa" name="etapa" value="criarLeilao"/>
	<input type="hidden" id="redirect" name="redirect" value="false"/>
	<input type="hidden" id="useCase" name="useCase" value="gerenciarLeilao"/>
	<input type="hidden" id="action" name="action" value="criarLeilao"/>
	<input type="hidden" id="idleiloeiro" name="idleiloeiro" value="${idleiloeiro}"/>
	<input type="button" id="Button3" onclick="criarLeilao()" name="" class="btn btn-primary" value="CriarLeilao" style="position:absolute;left:410px;top:369px;width:95px;height:37px;z-index:7;">
	</form>
	<form class="form-search" action="q" method="post">
	<input type="submit" id="Button2" name="" class="btn btn-primary" value="Cancelar" style="position:absolute;left:279px;top:369px;width:95px;height:37px;z-index:6;">
	<input type="hidden" id="etapa" name="etapa" value="historico"/>
	<input type="hidden" id="redirect" name="redirect" value="false"/>
	<input type="hidden" id="userCase" name="useCase" value="gerenciarLeilao"/>
	<input type="hidden" id="action" name="action" value="historicoLeilao"/>
	<input type="hidden" id="idleiloeiro" name="idleiloeiro" value="${idleiloeiro}"/>
	</form>
	</div>
	</div>
</div>