<html>
	<body>
	<div>
		<img style="width:950px;height:300px;position:absolute;left:185px;z-index:-1" src="https://g4group.me/sa.jpg" />
		<div>
			<p style="width:930px;height:100px;position:absolute;left:168px;top:300px;font-size:20px;color:#000000;padding-left:30px;padding-right:30px;font-family:Arial;">${mensagem}
			</p>
		</div>
		<div>
			<p style="width:890px;height:60px;position:absolute;left:194px;top:700px;font-size:20px;color:#000000;padding-left:30px;padding-right:30px;font-style: italic;font-family:Georgia;text-align:center;background-color:#888888;"><strong>Atenciosamente Pechincha.com<br />Equipe G4</strong>
			</p>
		</div>
	</div>
	</body>
</html>