<div class="box" onclick="redirecionar(${idL})"> 
					<div class="header ${tipo}">
					<i class="fa fa-eye fa-2x fixIcon" style="float:left;" ><span class="fixFont" >${online}</span></i>	
					<i class="fa fa-clock-o fa-2x fixIcon" style="float:right;"><span class="fixFont" >${tempo}</span></i>
					</div>
					<div style="clear:both;">
						<span class="fixFont">${etiqueta}</span><br />
						<span class="fixFont">Preço inicial: R$ ${lanceInicial}</span><br />
						<span class="fixFont">Preço corrente: R$ ${lanceCorrente}</span><br />
						<span class="fixFont">Leiloeiro: ${leiloeiro}</span><br />
						
					</div>
</div>