<link rel="stylesheet" type="text/css" href="templates/lib/font-awesome-4.2.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="templates/lib/css/home-style.css">
	  <script src="templates/lib/js/ajax-home.js"></script>
	  
	  	<input type="hidden" id="idEmissor" value="${idEmissor}" /> 
	  	
		<div class="row">
			<div class="span12">
				<div style="margin-left:10px;">
				<h3 style="margin: 0 auto;float: none;">Leilões ativos</h3>
				<span class="label label-info">Normal</span>
				<span class="label label-important">Alcançando tempo Limite</span>
				<span class="label label-success">Não há lances</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			  <div class="span12" id="feedLeilao">
			   <!-- Feed início--> 
			   
				<!--feed fim--> 
			  </div>
		</div>
		
		<div class="row">
			<div class="span12">
				<div class="center"><button type="button" id="botao" class="btn btn-info">Mais leilões</button></div>
			</div>
		</div>