<table style="position: absolute; left: -10px; width: 18%;">
	<tbody>
		<tr>
			<th>
				<a href="q?useCase=manterProdutos&action=novo&idusuario=${idusuario}&redirect=false"><h5>Adicionar novo produto</h5></a></br></br>
				<h4>Filtro por categorias</h4>
			</th>
		</tr>
		<tr>
			<td>
				<div id="categorias">	
					<form method = "post">						
						<div id="painel_categorias" style="overflow-y: auto; height:370px; ">
						<h3>${resultado}</h3>
						<!-- $BeginBlock Categoria -->
							<h6><input type="checkbox" name="categoria" value="${pk}">${descricao}</h6>
						<!-- $EndBlock Categoria -->
						<input id="uc" type="hidden" name="useCase" value="manterProdutos">
						<input id="uc" type="hidden" name="action" value="listar">
						<input id="uc" type="hidden" name="idusuario" value="${idusuario}">
						<input id="uc" type="hidden" name="redirect" value="false">
						<div id="botaobusca" align="center">
							<button type="submit">Buscar</button>
						</div>
					</form>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<table style="position: absolute; right: 10px; width: 80%;" >
		<tr>
			<th>
				<h4>Produtos cadastrados</h4>
				<h6>Clique no produto para visualizar</h6>
			</th>
		</tr>
		<tr>
			<td>
				<div id="produtos"  style="overflow-y: auto;overflow-x: none; max-height:422px;max-width:800px">
					<div >
					<table style="position: relative" cellspacing="100">
						<tr>
							<!-- $BeginBlock Produto -->
							<td>
								</div><img src="templates/imagens/${img}" height="176px" width="144px"></br>
								<a href="q?useCase=manterProdutos&action=visualizar&idusuario=${idusuario}&idproduto=${idproduto}&redirect=false"><h6>${titulo}</h6></a>
								<h6>R$ ${preco}</h6>
								<h6><a href="q?useCase=manterProdutos&action=editar&idusuario=${idusuario}&idproduto=${idproduto}&redirect=false">Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="q?useCase=manterProdutos&action=remover&idusuario=${idusuario}&idproduto=${idproduto}&confirm=false&redirect=false">Remover</a></h6>
								<br/></br></br>
							</td>
							<td>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</td>
							<!-- $EndBlock produto -->
						</tr>
					</table>
				</div>
			</div>
			</td>
		</tr>			
</table>