<table style="position: absolute; left: 10px; width: 18%;">
	<tbody>
		<tr>
			<th>
				<a href="q?useCase=manterProdutos&action=novo"><h5>Cadastrar produto</h5></a></br></br>
				<h4>Filtro por categorias</h4>
			</th>
		</tr>
		<tr>
			<td>
				<div id="categorias">	
					<form method = "post">						
						<div id="painel_categorias" style="overflow-y: auto; height:340px; ">
						<div class="checkbox">
						<!-- $BeginBlock Categoria -->
							<label>
								<h6><input type="checkbox" name="categoria" value="${pk}">${descricao}</h6>
							</label>
						<!-- $EndBlock Categoria -->
						</div>
						<input id="uc" type="hidden" name="useCase" value="manterProdutos">
						<input id="uc" type="hidden" name="action" value="listar">
						</div>
						<div id="botaobusca" align="center">
							<button type="submit">Filtrar</button>
						</div>
					</form>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<table style="position: absolute; right: 10px; width: 77%;" >
		<tr>
			<th>
				<h4>Produtos cadastrados</h4>
				<h6>Clique no produto para visualizar</h6>
			</th>
		</tr>
		<tr>
			<td>
				<div id="produtos"  style="overflow-y: auto;overflow-x: none; max-height:422px;max-width:800px">
					<div >
					<table style="position: relative" cellspacing="100">
						<tr>
							<h3>${resultado}</h3>
							<!-- $BeginBlock Produto -->
							<td>
								<img class="img-rounded" src="templates/imagens/${img}" alt="176x144" style="width: 176px; height: 144px;"></br>
								<a href="q?useCase=manterProdutos&action=visualizar&idproduto=${idproduto}"><h6>${titulo}</h6></a>
								<h6>R$ ${preco}</h6>
								<h6><a href="q?useCase=manterProdutos&action=editar&idproduto=${idproduto}">Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="q?useCase=manterProdutos&action=remover&idproduto=${idproduto}&confirm=false">Remover</a></h6>
								<br/></br></br>
							</td>
							<td>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</td>
							<!-- $EndBlock produto -->
						</tr>
					</table>
				</div>
			</div>
			</td>
		</tr>			
</table>