<form enctype="multipart/form-data" method="post">
	<span>Mensagem: ${resultado}</span>
	<p>Usuário: <input type="text" name="idusuario" size="102" value="1"></p>
	<p>Título: <input type="text" name="titulo" size="102" ></p>
	<p>Descrição: <input type="text" name="descricao" size="102" ></p>
	Imagem 1: <input name="imagem1" type="file" /></br>
	Imagem 2: <input name="imagem2" type="file" /></br>
	Imagem 3: <input name="imagem3" type="file" /></br>
	Imagem 4: <input name="imagem4" type="file" /></br>
	Imagem 5: <input name="imagem5" type="file" /></br>
	
	<p>Quantidade: <input type="text" name="quantidade" size="10" ></p>
	<p>Preço: <input type="text" name="preco" size="20" ></p>
	<input type="submit" value="Novo Produto" />
</form>