<form enctype="multipart/form-data" method="post">
	<h3>${resultado}</h3>
	<h4>Parte 1 - Título do produto</h4>
<!--<p>Usuário: <input type="text" name="idusuario" size="102" value="1"></p> -->
	<p><input type="text" name="titulo" size="132" ></p><br>
	
	<h4>Parte 2 - Selecione imagem(s) do produto (min: 1; máx: 5)</h4>
	<p><input name="imagem1" type="file" /></p>
	<p><input name="imagem2" type="file" /></p>
	<p><input name="imagem3" type="file" /></p>
	<p><input name="imagem4" type="file" /></p>
	<p><input name="imagem5" type="file" /></p>
	<br>
	<h4>Parte 3 - Informe a(s) categoria(s) relacionada(s)</h4>
		
	<table style="left: 10px; width: 18%;">
		<tbody>
			<tr>
				<td>
					<div id="painel_categorias" style="overflow-y: auto; max-height:370px; ">
						<!-- $BeginBlock Categoria -->
							<h6><input type="checkbox" name="categoria" value="${pk}">${descricao}</h6>
						<!-- $EndBlock Categoria -->
					</div>
				</td>
			</tr>
		</tbody>
	</table>	
	
	<br>
	<h4>Parte 4 - Descrição do produto</h4>
	<textarea rows="10" cols="120" name="descricao"></textarea><br>
	<h4>Parte 5 - Valor unitário do produto (min: R$ 0,10; máx: R$1.000.000,00)</h4>
	<h6>O valor do produto é: R$ <input type="number" name="preco" min="0.1" max="1000000" value="0.1" step="0.1" size="5"><h6><br>
	<h4>Parte 6 - Quantidade de produtos (min: 1; máx: 100)</h4>
	<h6>Este cadastro contém <input type="number" name="quantidade" min="1" max="100" value="1"> unidade(s)</h6><br/>
	<input type="hidden" name="confirm" value="true" />
	<div align="center"><input type="submit" value="Novo Produto" /></div>
</form>