<form enctype="multipart/form-data" method="post">
	
	<p>Título: <input type="text" name="titulo" size="102" ></p>
	<p>Descrição: <input type="text" name="descricao" size="102" ></p>
	Imagem 1:  <input name="imagem1" type="file" />
	Imagem 2:  <input name="imagem2" type="file" />
	Imagem 3:  <input name="imagem3" type="file" />
	Imagem 4:  <input name="imagem4" type="file" />
	Imagem 5:  <input name="imagem5" type="file" />
	
	<p>Quantidade: <input type="text" name="quantidade" size="10" ></p>
	<p>Preço: <input type="text" name="preco" size="20" ></p>
	<input type="submit" value="Novo Produto" />
</form>